# Admin owns all non-content files
.github/ @awadell1 @anoushka2000 @amalss18
_includes/ @awadell1 @anoushka2000 @amalss18
_layouts/ @awadell1 @anoushka2000 @amalss18
_plugins/ @awadell1 @anoushka2000 @amalss18
bib/publications.tmpl @awadell1 @anoushka2000 @amalss18
css/ @awadell1 @anoushka2000 @amalss18
dev/ @awadell1 @anoushka2000 @amalss18
docs/ @awadell1 @anoushka2000 @amalss18
files/ @awadell1 @anoushka2000 @amalss18
js/ @awadell1 @anoushka2000 @amalss18

# Templates for pages
404.md @awadell1 @anoushka2000 @amalss18
blog.html @awadell1 @anoushka2000 @amalss18
index.html @awadell1 @anoushka2000 @amalss18
patents.html @awadell1 @anoushka2000 @amalss18
people.html @awadell1 @anoushka2000 @amalss18
publications.html @awadell1 @anoushka2000 @amalss18
software.html @awadell1 @anoushka2000 @amalss18
sponsors.html @awadell1 @anoushka2000 @amalss18

# Build Scripts etc.
LICENSE @awadell1 @anoushka2000 @amalss18
Makefile @awadell1 @anoushka2000 @amalss18
_config.yml @awadell1 @anoushka2000 @amalss18
Gemfile @awadell1 @anoushka2000 @amalss18

# Admin owns documentation files
docs/ @awadell1 @anoushka2000 @amalss18
README.md @awadell1 @anoushka2000 @amalss18
code.md @awadell1 @anoushka2000 @amalss18

# Prefer Markdown usage in posts and projects
*.html @awadell1 @anoushka2000 @amalss18
