---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [pi, postdoc, masters, staff]
    width: 5
    image: true
  - roles: [phd]
    width: 5
    image: true

---

<div class="jumbotron">
  <h1>Viswanathan Research Group at Carnegie Mellon University</h1>

  <p>
    Vision: Invent and Optimize Materials, Processes and Devices to Accelerate the Transition to Sustainable Transportation, Aviation, Chemicals and Fuels.
  </p>
  
  <img src="img/group-photo.JPG" alt="Group Photo" class="center">

</div>

<section>
    <h2>Research</h2>
    <div class="card-columns">
        {% for p in site.projects %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>

<section>
  <div id="community">
  <h2>Community</h2>
  <p>Our group is involved in several efforts to spur community-building and research dissemination efforts.</p>

  <p>Prof. Viswanathan runs the Battery Modeling Webinar Series (BMWS). Find more information <a href="http://www.andrew.cmu.edu/user/venkatv/bmws.html">here</a>.</p>

  <p>Dilip has coordianted a Scientific Machine Learning (SciML) course, consisting of talks along with interactive code demonstrations. For more details and schedule, visit <a href="https://www.cmu.edu/aced/sciML.html">this page</a>.</p>
</section>

<section>
    <div id="news">
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>
