---
layout: default
title: Open Source Software
---

<section class="software-list" aria-label="Open source software">
    {% for item in site.data.software %}
    {% assign sw = item[1] %}
    <article class="software-item{% unless sw.image %} software-item-no-image{% endunless %}">
        {% if sw.image %}
        <a class="software-media" href="{{ sw.link|escape }}" aria-label="{{ sw.title|escape }}">
            <img alt="{{ sw.title|escape }}"
                 title="{{ sw.title|escape }}"
                 src="{% link {{ sw.image }} %}">
        </a>
        {% endif %}

        <div class="software-content">
            <div class="software-heading">
                <h2 class="software-title">
                    <a href="{{ sw.link|escape }}">{{ sw.title|escape }}</a>
                </h2>
                {% if sw.year %}
                <span class="software-year">{{ sw.year }}</span>
                {% endif %}
            </div>
            <p class="software-authors">
                <strong>{{ sw.authors|escape }}</strong>.
            </p>
            {%- if sw.description %}
            <p class="software-description">
                {{ sw.description|escape }}
            </p>
            {% endif %}
        </div>
    </article>
    {% endfor %}
</section>
