<table class="table">
<tbody>
	
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Electrochemical materials including solid and liquid phases.
			</span><br />
			<span class="authors">
				Yet-Ming Chiang, Richard Park, Venkatasubramanian Viswanathan, Shashank Sripad, Zijian Hong, and Pinwen Guan.
			</span><br />
			<span class="venuetype"></span><span class="venue">Unknown venue (type=patent)</span>.
			<span class="note">
			<br />
			<strong>US Patent App. 16852308</strong>
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Electrolytes for lithium metal electrodes and rechargeable batteries using same.
			</span><br />
			<span class="authors">
				Yet-Ming Chiang, Venkatasubramanian Viswanathan, Linsen Li, Vikram Pande, and David Wang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Unknown venue (type=misc)</span>.
			<span class="note">
			<br />
			<strong>US Patent App. 16/430,803</strong>
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Lithium-bromine rechargeable electrochemical system and applications thereof.
			</span><br />
			<span class="authors">
				Peng Bai, Martin Z Bazant, and Venkatasubramanian Viswanathan.
			</span><br />
			<span class="venuetype"></span><span class="venue">Unknown venue (type=misc)</span>.
			<span class="note">
			<br />
			<strong>US Patent App. 15/820,873</strong>
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Lithium metal electrodes and batteries thereof.
			</span><br />
			<span class="authors">
				Yet-Ming Chiang, Venkatasubramanian Viswanathan, Linsen Li, Vikram Pande, Dilip Krishnamurthy, Zeeshan Ahmad, and William Henry Woodford.
			</span><br />
			<span class="venuetype"></span><span class="venue">Unknown venue (type=patent)</span>.
			<span class="note">
			<br />
			<strong>US Patent App. 15/480,235</strong>
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
