<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Electrolytes for lithium metal electrodes and rechargeable batteries using same.
			</span><br />
			<span class="authors">
				Yet-Ming Chiang, Venkatasubramanian Viswanathan, Linsen Li, Vikram Pande, and David Wang.
			</span><br />
			<span class="venuetype">
			</span>
			<span class="venue">
			</span>.
			<span class="note">
			US Patent App. 16/430,803.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Lithium-bromine rechargeable electrochemical system and applications thereof.
			</span><br />
			<span class="authors">
				Peng Bai, Martin Z Bazant, and Venkatasubramanian Viswanathan.
			</span><br />
			<span class="venuetype">
			</span>
			<span class="venue">
			</span>.
			<span class="note">
			US Patent App. 15/820,873.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Lithium metal electrodes and batteries thereof.
			</span><br />
			<span class="authors">
				Yet-Ming Chiang, Venkatasubramanian Viswanathan, Linsen Li, Vikram Pande, Dilip Krishnamurthy, Zeeshan Ahmad, and William Henry Woodford.
			</span><br />
			<span class="venuetype">
			</span>
			<span class="venue">
			</span>.
			<span class="note">
			US Patent App. 15/480,235.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
