<table class="table">
<tbody>
    <tr>
        <td class = "softwareimage">
            <a href=https://github.com/BattModels/BatteryCost><img src="{{site.baseurl}}/img/software/BatteryPyramid.png"  height=170></a>
        </td>
        <td class="software">
            <span class="softtitle">
                <strong><big><a href="https://github.com/BattModels/BatteryCost">BatteryCost.jl</a></strong></big>.
            </span><br />
            <span class="authors">
                <strong>Abhinav Misalkar, Alexander Bills, Shashank Sripad, and Venkatasubramanian Viswanathan</strong>.
            </span>
            <span class="note">
            <br />
            A bottom up cost model used for modeling manufacturing and materials cost in the julia programming language. This model takes cell design, material prices, demand, labor prices, and capital investment as inputs and caluclates materials, manufacturing, and overhead costs (as well as total cost)
            </span>
        </td>
    </tr>
</tbody>
</table>
