<table class="table">
<tbody>
    {%- for entry in entries %}
    {%- set url = entry|main_url %}
    {%- set baseurl = "{{site.baseurl}}"%}
    <tr>
        {%- if 'img' in entry.fields%}
        <td class = "softwareimage">
            <a href={{url|escape}}><img src="{{baseurl|escape}}{{entry.fields['img']|escape}}"  height=170></a>
        </td>
        {%- endif %}
        <td class="software">
            <span class="softtitle">
                <strong><big><a href="{{ url|escape }}">{{ entry|title }}</a></strong></big>.
            </span><br />
            <span class="authors">
                <strong>{{ entry.persons['author']|author_list }}</strong>.
            </span>
            {%- if entry.fields['note'] %}
            <span class="note">
            <br />
            {{ entry.fields['note']|escape }}
            </span>
            {%- endif %}
        </td>
    </tr>
    {%- endfor %}
</tbody>
</table>
